<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.zxecg.system.mapper.CommCompanyRepTemplMapper">
    <select id="getRepTemplByCompanyId" parameterType="java.util.HashMap"
            resultType="org.jeecg.modules.zxecg.system.entity.CommCompanyRepTempl">
         select * from comm_company_rep_templ where company_id=#{companyId} order by templ_id desc
    </select>

</mapper>